snippet re 
import * as React from 'react'
\type IProps={
\   
\}
export const $1=(props:IProps)=>{
return(
	<div>$2</div>
 )
}
export default $1
endsnippet

snippet uses
const [$1,$2]=React.useState($3)
endsnippet

snippet usee
React.useEffect(()=>{
	
},[])
endsnippet

snippet constf
const $1=($2)=>{
	$3
}
endsnippet

snippet div
	<div>$1</div>
endsnippet

snippet comp
	<$1 />
	$2
endsnippet

